@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>This is the Home page</h1>

@if (Context.User != null) {
    @foreach (var identity in Context.User.Identities) {
        @foreach (var claim in identity.Claims) {
            <h3>@claim.Type, @claim.Value, @claim.ValueType</h3>
        }
    }
}