@inject AssetFileHash AssetFileHash

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/@AssetFileHash.LinkWithHash("css/app.css")" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/@AssetFileHash.LinkWithHash("js/vendor.js")"></script>
    <script src="~/@AssetFileHash.LinkWithHash("js/app.js")"></script>
</body>
</html>
