@if (User.Identity.IsAuthenticated) {
    <li><a asp-action="LogOut" asp-controller="Account" data-delete data-return-url="@Url.Action("Index", "Home")">Sign Out</a></li>
} else {
    <li><a asp-action="Register" asp-controller="Account" asp-route-returnUrl="@Context.Request.Path">Register</a></li>
    <li><a asp-action="Login" asp-controller="Account" asp-route-returnUrl="@Context.Request.Path">Sign In</a></li>
}